<div class="container">
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>quantityPerUnit</th>
                    <th>Price</th>
                    <th>Inventory</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of products | async;">
                    <td>{{p.productID}}</td>
                    <td>{{p.productName}}</td>
                    <td>{{p.quantityPerUnit}}</td>
                    <td>{{p.unitPrice | currency:'USD':true}}</td>
                    <td>{{p.unitsInStock}}</td>                   
                </tr>
            </tbody>
        </table>
    </div>
</div>